@using BusinessLayer
@model BusinessLayer.Locomotive

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Locomotive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarryingCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarryingCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocomotiveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocomotiveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainComposition)
        </dt>
        <dd class = "col-sm-10">
            @(Model.TrainComposition != null ? Model.TrainComposition.Name : TrainComposition.NoneName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
