@page "/compositions/details/{Id:int}"
@using BusinessLayer;
@using ServiceLayer;
@inject GenericManager<TrainComposition, int> trainCompositionManager;

<h3>Details</h3>

<div>
    <h4>Train Composition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Train type
        </dt>
        <dd class="col-sm-10">
            @Model.TrainType
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @if (Model.Location != null)
            {
                @Model.Location.Name
            }
            else
            {
                <span>Location not available</span>
            }
        </dd>
        <dt class="col-sm-2">
            Locomotives
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Locomotives.Select(l => l.Nickname))
        </dd>
        <dt class="col-sm-2">
            Train Cars
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.TrainCars.Select(tc => tc.Id))
        </dd>
    </dl>
</div>
<div>
    <a href="compositions/edit/@Model.Id">Edit</a> |
    <a href="compositions">Back to List</a>
</div>

@code
{
    TrainComposition Model = new();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await trainCompositionManager.ReadAsync(Id, true);
    }

}
